numpy
torch
torchvision
timm
pillow
pytorch-lightning
hydra-core
hydra-submitit-launcher
hydra-colorlog
segmentation-models-pytorch
tensorboard
einops
matplotlib
rasterio
pandas
scipy
seaborn
faster-coco-eval
pycocotools
schedulefree
minlora @ git+https://github.com/cccntu/minLoRA.git
